*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
.box{
    width: 1200px;
    height: 700px;
}
.haeder{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
.logo{
    width: 250px;
    height: 100px;
    background-color: azure;
    float: left;
}
.menu{
    width: 950px;
    height: 100px;
    background-color: bisque;
    float: right;
}
.navi{
    float: right;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;

}
.navi>li{
    float: left;
}
.navi>li>a{
    width: 180px;
    height: 40px;
    background-color: hotpink;
    line-height: 40px;

}
.navi>li>a:hover{
    background-color: cadetblue;
}
.sub{
    display: none;
}
.sub>li>a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: chartreuse;
}
.sub>li>a:hover{
    background-color: chocolate;
}
.imgslide{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}
.body{
    width: 100%;
    height: 200px;
    background-color: brown;
}
.c1{
    width: 400px;
    height: 200px;
    background-color: coral;
    float: left;
}
.tabmenu{
    width: 400px;
    height: 200px;
    position: absolute;
}
.tabmenu>li{
    float: left;
    width: 100px;
    line-height: 30px;
}
.tabmenu>li>a{
    text-align: center;
    background-color: hotpink;
    color: wheat;
    border: 1px solid blue;
}
.tabmenu>li>a:hover{
    background-color: brown;
}
.tabmenu>li div{
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
}
.tabmenu>li.active div{
    width: 400px;
    height: 150px;
    border: 1px solid blue;
    z-index: 1;
}
.notice ul{
    float: left;
    width: 400px;
}
.notice li{
    
    line-height: 35px;
}
.notice li:nth-child(2n){
    background-color: gainsboro;
}
.notice li span{
    float: right;
    margin-right: 10px;
}
.gallery li{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: blueviolet;
}

.c2{
    width: 400px;
    height: 200px;
    background-color: burlywood;
    float: left;
}
.c3{
    width: 400px;
    height: 200px;
    background-color: hotpink;
    float: left;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.sub_logo{
    width: 250px;
    height: 100px;
    background-color: black;
    float: left;
}
.copy_logo{
    width: 700px;
    height: 100px;
    background-color: darkblue;
    float: left;
}
.sns_logo{
    width: 250px;
    height: 100px;
    background-color: cornflowerblue;
    float: left;
}
#modal{
    width: 100%;
    height: 100%;
    background-color: rgb(142, 163, 163,0.1);
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    display: none;
}
.modal_up{
    width: 400px;
    height: 400px;
    position: relative;
    top: 150px;
    background-color: white;
}
.modal_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.upbody{
    padding: 20px;
    font-size: 22px;
}
#modal.active{  
    display: block;
}
.btn a{
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    text-align: center;
    line-height: 30px;
}