@charset "urf-8";
*{
    margin: 0 auto;
    padding: 0;color: #333333;
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    display: block;
}
.contents{
    width: 400px;
    height: 200px;
    
}
.tabmenu{
    position: absolute;
    float: left ;
    width: 395px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabmenu>li{
    float: left;
    width: 100px;
    line-height: 30px;
}
.tabmenu>li>a{
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: #cccccc;
    border: 1px solid #ddd;
    border-bottom: none;
}
.tabmenu>li>a:hover{
    background-color: #eee;
}
.tabmenu>li:first-child a{
    border-right: none;
}
.tabmenu>li.active>a{
    background-color: #fff;
}
.tabmenu>li div{
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
}
.tabmenu>li.active div{
    width: 393px;
    height: 148px;
    border: 1px;
    border: 1px solid #ddd;
    z-index: 1;
}
.notice ul{
    float: left;
    width: 393px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.notice li:nth-child(2n){
    background-color: #ccc;
}
.notice li span{
    float: right;
}
.notice li:hover{
    font-weight: bold;
}
/* 갤러리 스타일 */
.gallery li{
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}
.gallery img{
    width: 100px;
    height: 100px;
    padding: 10px;
    
}
.gallery li:hover{
    opacity: 0.5;
}
